body{
  background: #F3EFE0;



}
.img{
  height: 99vh;
  /* width: 50%; */
  background-repeat: no-repeat;
  padding: 0px;
  display: block;
  float: left;

}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0px;
}


.logo{
  background-color: #E3E6F3;
  width: 50px;
  height: 50px;
  margin-left: 80px;

}
/* form styles */
h1{
  font-family:  'Quicksand', serif;

}
.button{

  padding: 10px;
  width: 100px;
  color: white;
  background-color: #3C2A21;
  border: none;
  border-radius: 20px;
}

#box{


  margin-top: 100px;
  margin-left: 850px;
  width: 300px;
  padding: 10px;
  border-radius: 0px;


}
#text{

  height: 50px;
  border-radius: 5px;
  padding: 14px;
  border: solid thin black;
  width: 100%;

}
